/* basic color parameters */

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --footer-bg-color: #2F303A;
    --main-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --trans-text-color: rgba(255, 255, 255, 60%);
    --logo-color: #000000;
}

/* main parameters */
body{
    background-color: var(--main-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
h2, h3, h4{
    color: var(--title-text-color);
}
h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
}

h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

li{
    list-style: none;
}

header{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

/* header */

.logo{
    color: var(--logo-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo>span{
    color: var(--accent-color);
}

.menu a{
    color: var(--title-text-color);
    text-decoration: none;
    
}

.menu a:hover,
.menu a:focus,
.menu-contact a:hover,
.menu-contact a:focus,
.footer-item:hover,
.footer-item:focus {
    color: var(--accent-color);
}

.menu-contact a{
    color: var(--primary-text-color);
    text-decoration: none;
    
}


/* Hero section */

.hero{
    background-color: var(--footer-bg-color);
    color: var(--main-color);
    text-align: center;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn{
    background-color: var(--accent-color);
    color: var(--main-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}


/* Advantages section */
.ad-title{
    display: none;
}

.advantages-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-box p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* Activity */




/* Team */
.team-user p{
    font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
}



/* Footer */
.footer{
    background-color: var(--footer-bg-color);
    font-style: normal;
}
address{
    font-style: normal;
}

.footer>.logo{
    color: var(--main-color);
}
.map a{
    color: var(--main-color);
}

.footer-menu-contact .footer-item a{
    color: var(--trans-text-color);
}
.map a:hover,
.footer-item a:hover,
.map a:focus,
.footer-item a:focus{
    color: var(--accent-color);
}


/* Page 2 - Portfolio */

.section-title{
    display: none;
}

.section-btn{
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.section-btn:hover,
.section-btn:focus{
    background-color: var(--accent-color);
    color: var(--main-color)
}

.portfolio-items{
    cursor: pointer;
}

.portfolio-items h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
}

.portfolio-items p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    
}